<div class="gallerybanner"><img src="~/Images/GTA5.png" style="width: 100%"></div>
<div class="container-fill" style="background-color: #1CAFB9; width: 100%; height:100%;">
    <div class="container-fluid">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col">
                    <h1 class="special-offers" style="padding: 50px 0 8px 330px;">SPECIAL OFFERS</h1>
                    <table style="margin-left:auto; margin-right:auto;">
                        <tbody>
                            <tr>
                                <td><img src="~/left.png" width="80" height="80"></td>
                                <td><div style="padding-right:10px"></div></td>
                                <td><img src="~/dark.png"></td>
                                <td><div style="padding-right:20px"></div></td>
                                <td><img src="~/spe.png"></td>
                                <td><div style="padding-right:20px"></div></td>
                                <td><img src="~/ast.png"></td>
                                <td><div style="padding-right:10px"></div></td>
                                <td><img src="~/right.png" width="80" height="80"></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <table style="margin-left:auto; margin-right:auto; margin-top:50px;">
                        <tbody>
                            <tr>
                                <th class="nt-images">
                                    <a style="padding-right: 25px" ref="#"> New and Trending </a>
                                    <a style="padding-right: 25px" ref="#"> Top Sellers </a>
                                    <a style="padding-right: 25px" ref="#"> Popular Upcoming </a>
                                    <a style="padding-right: 25px" ref="#"> Specials </a>
                                </th>
                            </tr>
                            
                            <tr><td><div><img src="~/NT1.png"></div></td></tr>
                            <tr><td><div style="padding-bottom:5px"></div></td></tr>
                            <tr><td><div><img src="~/NT2.png"></div></td></tr>
                            <tr><td><div style="padding-bottom:5px"></div></td></tr>
                            <tr><td><div><img src="~/NT3.png"></div></td></tr>
                            <tr><td><div style="padding-bottom:5px"></div></td></tr>
                            <tr><td><div><img src="~/NT4.png"></div></td></tr>
                            <tr><td><div style="padding-bottom:5px"></div></td></tr>
                            <tr><td><div><img src="~/NT5.png"></div></td></tr>
                            <tr><td><div style="padding-bottom:5px"></div></td></tr>
                            <tr><td><div><img src="~/NT6.png"></div></td></tr>
                        </tbody>
                    </table>
                    
                    <table style="margin-left:auto; margin-right:auto; margin-top:50px; padding-bottom:50px;">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="nt-images" style="text-align: right;">
                                        <a ref="#">All Games >></a>
                                    </div>
                                    
                                    <div>
                                        <img src="~/All games.png" />
                                    </div>
                                </td>
                                
                                <td><div style="padding-left:25px; padding-right:25px"></div></td>
                                
                                <td>
                                    <div class="nt-images" style="text-align: right;">
                                        <a style="color:#FF0000" ref="#">Hot Deals >></a>
                                    </div>
                                    
                                    <div>
                                        <img src="~/cave.png">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>








