@{
    ViewData["Title"] = "Log In";
    var returnUrl = (string)ViewData["returnUrl"];
}

<div class="container">
    <div class="col-md-6 mx-auto">
        <div class="card login-logout-tab">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href='Login'>Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='Register'>Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-10 offset-md-1">
                            <section>
                                <div style="padding:30px;">
                                </div>
                                <form id="account" asp-controller="Account" asp-action="Login" asp-route-returnurl="@returnUrl" method="POST">
                                    <div class="alert-danger">@TempData["error"]</div>
                                    <div class="form-group">
                                        <label for="InputEmail">Email address</label>
                                        <input type="email" class="form-control" id="InputEmail" placeholder="Enter email" name="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputPassword">Password</label>
                                        <input type="password" class="form-control" id="InputPassword" placeholder="Password" name="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-block btn-lg">Log in</button>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(function () {
            var current = location.pathname;
            $('.nav-tabs li a').each(function () {
                var $this = $(this);
                if (current.indexOf($this.attr('href')) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}